<div class="component bg">
    <h3>Saisie d'un password</h3>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" />
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Re-enter password:</mat-label>
            <input matInput formControlName="reEnterPassword" />
        </mat-form-field>
    </form>
    <br/>
    <mat-progress-bar mode="determinate" [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
    <img src="assets/success.png" [hidden]="isHidden" width="200" />
</div>