<div class="component bg">
    <a routerLink="/"><img [src]="myLogo" width="100px"/></a>
    <a routerLink="/contacts" routerLinkActive="active-link">Contacts</a>
    <a routerLink="/twoWays" routerLinkActive="active-link">Two ways data binding</a>&nbsp;
    <a routerLink="/obs" routerLinkActive="active-link">Observables</a>
    <a routerLink="/passwords" routerLinkActive="active-link">Passwords</a>&nbsp;
    <a routerLink="/tests" routerLinkActive="active-link">Des tests</a>
    <a routerLink="/animate" routerLinkActive="active-link">Des animations</a>
    <a routerLink="/about" routerLinkActive="active-link">A propos</a>
    <a routerLink="/point" routerLinkActive="active-link">Point</a>
    <a routerLink="/notes" routerLinkActive="active-link">Notes</a>
</div>
