<textarea cols="80" rows="15" [textContent]="log">
</textarea>
<br/>
<button (click)="simple()">range</button>
<button (click)="map()">map</button>
<button (click)="mapAndFilter()">mapAndFilter</button>
<button (click)="mergeMap()">mergeMap</button>
<button (click)="switchMap()">switchMap</button>
<button (click)="behaviorSubject()">behaviorSubject</button>
<button (click)="replaySubject()">replaySubject</button>
<button (click)="asyncSubject()">asyncSubject</button><br/>
<div>
    Timer: {{ timer | async }}
</div>