<div class="component bg">
    <h3>Liste des personnes</h3>
    <mat-spinner diameter="50" [hidden]="isHidden" ></mat-spinner>
    <ul>
        <ng-container *ngIf="persons && persons.length > 0">
            <div *ngFor="let person of persons">
                <app-contact (deleteRequest)="myDelete($event)" [person]="person"></app-contact>
            </div>
        </ng-container>
        <ng-container *ngIf="persons && persons.length <= 0">
            Pas d'élément !!!
        </ng-container>
    </ul>
</div>
