<div style="padding: 10px">
    <h3>Liste des personnes</h3>
    <ul>
        <ng-container *ngIf="persons && persons.length > 0">
            <div *ngFor="let person of persons">
                <app-contact [person]="person"></app-contact>
            </div>
        </ng-container>
        <ng-container *ngIf="persons && persons.length <= 0">
            Pas d'élément !!!
        </ng-container>
    </ul>
    <mat-spinner [diameter]="diameter" [hidden]="hideMe" mode="indeterminate"></mat-spinner>
</div>
