<div class="component bg">
    <h1 class="animate__animated animate__rollIn">Liste des personnes</h1>
    <mat-spinner *ngIf="false" diameter="50" [hidden]="isHidden" ></mat-spinner>
    <app-spinner [hidden]="isHidden" ></app-spinner>
    <ul>
        <ng-container *ngIf="persons && persons.length > 0">
            <div *ngFor="let person of persons; trackBy: personById">
                <app-contact [person]="person"></app-contact>
            </div>
        </ng-container>
        <ng-container *ngIf="persons && persons.length <= 0">
            Pas d'élément !!!
        </ng-container>
    </ul>
</div>
