<div class="component bg">
    <h3>Créer une nouvelle personne</h3>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-2">
                Etat du formulaire:
            </div>
            <div class="col-2">
                {{ contactForm.status }}
            </div>
            <div class="col-8">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Id:</mat-label>
                    <input matInput formControlName="id" />
                </mat-form-field>
            </div>
            <div class="col-2">
                <ng-container *ngIf="contactForm.get('id').errors?.required">
                    L'id est obligatoire
                </ng-container>
            </div>
            <div class="col-8">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field>
                    <mat-label>FirstName:</mat-label>
                    <input matInput formControlName="firstName" />
                </mat-form-field>
            </div>
            <div class="col-2">
                <ng-container *ngIf="contactForm.get('firstName').errors?.required">
                    Le nom est obligatoire
                </ng-container>
                <ng-container *ngIf="contactForm.get('id').errors?.pattern">
                    L'id doit être un nombre
                </ng-container>
                <ng-container *ngIf="contactForm.get('firstName').errors?.minlength">
                    Le nom doit avoir 8 caractères !!!!!!!!!
                </ng-container>
            </div>
            <div class="col-8">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field>
                    <mat-label>LastName:</mat-label>
                    <input matInput formControlName="lastName" />
                </mat-form-field>
            </div>
            <div class="col-2">
                <ng-container *ngIf="contactForm.get('lastName').errors?.required">
                    Le prénom est obligatoire
                </ng-container>
            </div>
            <div class="col-8">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Email:</mat-label>
                    <input matInput type="email" formControlName="email" />
                </mat-form-field>
            </div>
            <div class="col-2">
                <div *ngIf="contactForm.get('email').errors?.required">
                    Le mail est obligatoire
                </div>
                <div *ngIf="contactForm.get('email').dirty && contactForm.get('email').errors?.email">
                    Le mail est incorrect
                </div>
            </div>
            <div class="col-8">
            </div>
        </div>
        <button mat-raised-button color="primary" [disabled]="!contactForm.valid">Créer</button>
    </form>
</div>