<div class="min">
    <form [formGroup]="customerForm" (ngSubmit)="submitForm()">
        {{ customerForm.status }}<br/>
        <input formControlName="name" /><br/>
        <div *ngIf="customerForm.get('name').errors?.required">
            Le name est obligatoire
        </div>
        <input type="email" formControlName="email" /><br/>
        <div *ngIf="customerForm.get('email').errors?.required">
            Le mail est obligatoire
        </div>
        <div *ngIf="customerForm.get('email').dirty && customerForm.get('email').errors?.email">
            Le mail est incorrect
        </div>
        <input type="password" formControlName="password" /><br/>
        <div *ngIf="customerForm.get('password').errors?.required">
            Le password est obligatoire
        </div>
        <div *ngIf="customerForm.get('password').dirty && customerForm.get('password').hasError('minlength')">
            Le password est trop court
        </div>
        <br/>
        <button [disabled]="!customerForm.valid">Submit</button>
    </form>
</div>