<div class="padding bg">
    <h3>Démonstration des observables</h3>
    <textarea [ngClass]="isClassBg1 ? 'bg1' : 'bg2'" cols=120 rows="15" [hidden]="isLogHidden">{{ logText }}</textarea><br/>
    <button mat-flat-button color="accent" (click)="toggleLog()">{{ isLogHidden ? "Montrer" : "Cacher" }}</button>
    <button mat-flat-button color="accent" (click)="toggleBgColor()">Changer bgColor</button><br/>
    <button mat-flat-button color="accent" (click)="simple()">Simple</button>
    <button mat-flat-button color="accent" (click)="map()">Map</button>
    <button mat-flat-button color="accent" (click)="mapAndFilter()">Map & filter</button>
    <button mat-flat-button color="accent" (click)="distinct()">Distinct</button><br/>
    <br/>
    Temps écoulé depuis l'affichage de la page : {{ timer$ | async }} secondes
</div>