<div class="component bg">
    <h3>Démonstration des observables</h3>
    <textarea [ngClass]="isClassBg1 ? 'filler bg1' : ' filler bg2'" [hidden]="isLogHidden">{{ logText }}</textarea><br/>
    <div class="filler" *ngIf="isLogHidden"></div>
    <button mat-flat-button color="accent" (click)="toggleLog()">{{ isLogHidden ? "Montrer" : "Cacher" }}</button>
    <button mat-flat-button color="accent" (click)="toggleBgColor()">Changer bgColor</button><br/>
    <button mat-flat-button color="accent" (click)="simple()">Simple</button>
    <button mat-flat-button color="accent" (click)="map()">Map</button>
    <button mat-flat-button color="accent" (click)="test()">Test</button>
    <button mat-flat-button color="accent" (click)="mapAndFilter()">Map & filter</button>
    <button mat-flat-button color="accent" (click)="distinct()">Distinct</button>
    <button mat-flat-button color="accent" (click)="takeUntil()">takeUntil</button>
    <button mat-flat-button color="accent" (click)="reduce()">reduce</button><br/>
    <br/>
    Temps écoulé depuis l'affichage de la page : {{ timer$ | async }} secondes
</div>